@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

@media (min-width: 640px) {
  /* width */
  ::-webkit-scrollbar {
    width: 14px;
    overflow-x: hidden;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #3a3a3a;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(17, 17, 17);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 34, 34);
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #161616;
  }
  100% {
    background-color: #252525;
  }
}

.fade-in-post {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.fade-in-post.active {
  opacity: 1;
  transform: translateY(0px);
}
