@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3a3a3a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(17, 17, 17);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 34, 34);
}
